/* the one and only css is here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-lexend text-slate-700;
    font-weight: 400;

    background-color: #f1f5f9;
    color-scheme: light dark;

    /* render optimizations */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    outline: 0px solid red;
  }

  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  } */
}

@layer components {}

@layer utilities {}
